<%- include('partials/header') %>
<header>
  <h1><%= title %></h1>
</header>
<p><%= description %></p>

<p id="dilb"> <a href="https://dilbert.com/" target="_blank">Dilbert Comics Here!!!</a></p>







<%- include('partials/footer') %>