<%- include('partials/header') %>
<header>
  <h1><%= title %></h1>
</header>
<p><%= description %></p>
<p class="registerText"><a href="/register/new">Register Now!</a></p>
<%- include('partials/footer') %>